entrypoint="main.py"
run="uvicorn main:app --host 0.0.0.0 --port 8000 --reload"

modules = ["python-3.12"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["libxcrypt", "sqlite"]

[[ports]]
localPort = 8000
externalPort = 80
